In [221]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [222]:
from sklearn.datasets import load_boston

In [223]:
boston=load_boston(return_X_y=False)

In [224]:
boston.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [225]:
print(boston.DESCR)

.. _boston_dataset:

Boston house prices dataset
---------------------------

**Data Set Characteristics:**

    :Number of Instances: 506

    :Number of Attributes: 13 numeric/categorical predictive. Median Value (attribute 14) is usually the target.

    :Attribute Information (in order):
        - CRIM     per capita crime rate by town
        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.
        - INDUS    proportion of non-retail business acres per town
        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
        - NOX      nitric oxides concentration (parts per 10 million)
        - RM       average number of rooms per dwelling
        - AGE      proportion of owner-occupied units built prior to 1940
        - DIS      weighted distances to five Boston employment centres
        - RAD      index of accessibility to radial highways
        - TAX      full-value property-tax rate per $10,000
        - PTRATIO  pupil-teacher ratio by town
        - B        1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town
        - LSTAT    % lower status of the population
        - MEDV     Median value of owner-occupied homes in $1000's

    :Missing Attribute Values: None

    :Creator: Harrison, D. and Rubinfeld, D.L.

This is a copy of UCI ML housing dataset.
https://archive.ics.uci.edu/ml/machine-learning-databases/housing/


This dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.

The Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic
prices and the demand for clean air', J. Environ. Economics & Management,
vol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics
...', Wiley, 1980.   N.B. Various transformations are used in the table on
pages 244-261 of the latter.

The Boston house-price data has been used in many machine learning papers that address regression
problems.

.. topic:: References

   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.
   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.

In [226]:
boston.filename

'C:\\Anaconda2\\envs\\py36\\lib\\site-packages\\sklearn\\datasets\\data\\boston_house_prices.csv'

In [227]:
#df=pd.read_csv('C:\\Anaconda2\\envs\\py36\\lib\\site-packages\\sklearn\\datasets\\data\\boston_house_prices.csv')
df = pd.DataFrame(boston.data)

In [228]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

In [229]:
df.columns=boston.feature_names

In [230]:
df.columns

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT'],
      dtype='object')

In [231]:
df['MEDV']=boston.target

In [232]:
df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88,11.9

In [233]:
X=df[['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT']].copy()

In [234]:
y=df['MEDV'].copy()

In [235]:
from sklearn.linear_model import LinearRegression

In [236]:
lr=LinearRegression()

In [237]:
z=lr.fit(X,y)

In [238]:
for col,m in zip(X.columns,lr.coef_):
    print(col,"*",m,"+")
print(lr.intercept_)

CRIM * -0.10801135783679423 +
ZN * 0.04642045836688117 +
INDUS * 0.020558626367069507 +
CHAS * 2.6867338193449415 +
NOX * -17.766611228299926 +
RM * 3.809865206809223 +
AGE * 0.0006922246403368467 +
DIS * -1.4755668456002524 +
RAD * 0.30604947898516904 +
TAX * -0.012334593916573685 +
PTRATIO * -0.9527472317072904 +
B * 0.009311683273793581 +
LSTAT * -0.5247583778554906 +
36.45948838509015

In [239]:
df.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [240]:
import statsmodels.api as sm

mod = sm.OLS(y,X)

fii = mod.fit()

p_values = fii.summary2().tables[1]['P>|t|']

In [241]:
print((p_values.round(5)))

CRIM       0.00720
ZN         0.00078
INDUS      0.94979
CHAS       0.00169
NOX        0.39351
RM         0.00000
AGE        0.59898
DIS        0.00000
RAD        0.01064
TAX        0.01699
PTRATIO    0.00039
B          0.00000
LSTAT      0.00000
Name: P>|t|, dtype: float64

In [242]:
p_val=pd.DataFrame()
p_val["p_values"]=p_values
p_val["features"]=X.columns
p_val["p_values"]
p_val["features"]

CRIM          CRIM
ZN              ZN
INDUS        INDUS
CHAS          CHAS
NOX            NOX
RM              RM
AGE            AGE
DIS            DIS
RAD            RAD
TAX            TAX
PTRATIO    PTRATIO
B                B
LSTAT        LSTAT
Name: features, dtype: object

In [243]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [244]:
vif = pd.DataFrame()
vif["VIF Factor"] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]
vif["features"] = X.columns
vif

    VIF Factor features
0     2.100373     CRIM
1     2.844013       ZN
2    14.485758    INDUS
3     1.152952     CHAS
4    73.894947      NOX
5    77.948283       RM
6    21.386850      AGE
7    14.699652      DIS
8    15.167725      RAD
9    61.227274      TAX
10   85.029547  PTRATIO
11   20.104943        B
12   11.102025    LSTAT

In [245]:
#df1=pd.concat([p_val,vif])
df1= pd.merge(p_val, vif, on=['features'])

In [246]:

df1 = df1.reindex(columns=['features','p_values','VIF Factor'])
df1

   features      p_values  VIF Factor
0      CRIM  7.197130e-03    2.100373
1        ZN  7.762640e-04    2.844013
2     INDUS  9.497886e-01   14.485758
3      CHAS  1.689461e-03    1.152952
4       NOX  3.935067e-01   73.894947
5        RM  1.179476e-61   77.948283
6       AGE  5.989795e-01   21.386850
7       DIS  1.016889e-06   14.699652
8       RAD  1.064354e-02   15.167725
9       TAX  1.698772e-02   61.227274
10  PTRATIO  3.925055e-04   85.029547
11        B  5.266943e-08   20.104943
12    LSTAT  2.142519e-15   11.102025

In [247]:
lr.score